/* styles specific to about page */
.team-member {
    height: 150px;
    border-radius: 50%;
}

.org-logo {
    height: 100px;
}

#title_class {
    padding-top: 1.5rem;
    width: 75%;
    margin: auto;
    font-size: 2.5rem;
    font-family: Arial, serif;
    text-shadow: -1px 1px 0 #0D3309,1px 1px 0 #0D3309, 1px -1px 0 #0D3309,-1px -1px 0 #0D3309;
    color: white;
}

.vertical_center {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.member-wrap {
    display: flex;
}

.member-image {
    width: unset;
    margin-bottom: 10px;
}

.member-image img {
    border-radius: 10px;
}

.member-details {
    flex-grow: 1;
    margin: 0 15px;
}

.team-name {
    font-weight: bold;
}

.team-biography {
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .member-wrap {
        display: block;
    }

    .member-details, .member-image, .member-image img {
        float: unset;
        width: 100%;
    }

    .member-details img {
        flex-grow: unset;
        width: 100%;
    }
}