/* styles for base template page */

.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

.nav-link {
    white-space: nowrap;
}

/**/
#wrapper {
    min-height: calc(100vh - 50px);
}

#footer {
    background-color: #0D3309;
    height: 50px;
    position: relative;
}

.app-copy {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.app-copy a {
    color: #ffffff;
}

.app-copy a:hover {
    text-decoration: none;
}

.app-power {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}


.navbar-collapse.collapse {
    text-align: center;
}

#ul_navbar {
    margin-left: unset;
}

@media (max-width: 991px) {

    .navbar-nav {
        width: 100%
    }
}

