{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}SERVIR AppTemplate - About{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
        <div style="position: relative; height: 600px;background-image: url(/static/images/bhutan_hero.jpg);background-size: cover;background-position: bottom;">
            <!-- Hero image in the home page -->
            <div>

                <div class="card-img-overlay ">
                    <div class="text-center text-white vertical_center">
                        <!-- Title on the hero image-->
                        <p id="title_class">
                            About The Farm Action Toolkit </p>
                    </div>
                </div>
            </div>
        </div>
    <br>



    <!-- Root container for the about page's content -->
    <div class="container-fluid  bg-gray-300">


        <!-- About -->
        <!-- Update the text inside <p> tags in order to update the about text -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">About this application</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-left text-dark">
                            <p>SERVIR’s Farm Action Toolkit was co-developed alongside several implementing partners in
                                Bhutan to support their mission to secure adequate food for the Kingdom and save
                                operational costs while doing it. This service provides 30-m scale cropland, paddy, and
                                maize area extent maps covering mountainous and marginal farmlands across Bhutan for all
                                years from 2002 to 2023. The Farm Action Toolkit can also estimate annual paddy yield at
                                district, sub-district, and field scales from 2002 to 2023, though ready-made map
                                visualization products are currently only provided at district and sub-district levels.
                                The robust methodological framework and semi-automated algorithms built into this
                                service were intentionally designed to facilitate easy adoption and sustainable
                                operation by implementing partners. Cropland area and yield models rely primarily on
                                Landsat sensors 5, 7, 8 and 9 surface reflectance products, showcasing how the
                                consistent historical data record of NASA’s Landsat mission can be used to make an
                                impact on small-holder farming livelihoods in Bhutan. This service also incorporates
                                satellite databases on weather, biological, and topographical inputs into area and yield
                                models. We compared several empirical modeling approaches, including simple linear
                                discriminant models and complex machine learning methods to select optimal area and
                                yield algorithms.
                            </p>
                            <p>The 30-m paddy area extent maps from 2002 to 2023 will help our users to understand
                                changes in paddy area and yield before and after specific events in history, such as
                                past natural disasters, floods, wildlife intrusions, or even the COVID19 outbreak
                                (2020). A consistent, timely, and reliable twenty year record of of 30-m cropland area
                                can also be used to analyze the impact of policy changes on food security before and
                                after Bhutan’s transition to a democratic constitutional monarchy in 2008. Our service
                                aims to guide decision makers as they work to ensure the Kingdom benefits from a
                                sustainable, resilient, and climate-smart ecosystem into the foreseeable future.
                            </p>
                            <p>
                                Recently, the Kingdom of Bhutan has placed a new focus on improving food
                                self-sufficiency. According to national statistical reports, the country's paddy area
                                has been rapidly decreasing over the last few years. Bhutan’s National Statistical
                                Bureau reported that although the national paddy self-sufficiency was increased to ~47%
                                in 2018, it suddenly dropped to just ~25% in 2023. So, the critical question is: which
                                cropping systems are sustainable for the resilient livelihood and food self-sufficiency
                                goals of Bhutan? With its effective capacity to monitor croplands, this service aims to
                                provide information which will help find those answers.. While the currently
                                demonstrated Farm Action Toolkit products currently describe staple crop types (paddy
                                and maize), the algorithms can also be replicated with minor adjustments to investigate
                                other important crop types, including economic crops.
                            </p>
                            <p>
                                The primary users of this tool will be government organizations, non-government
                                organizations,researchers, and academic institutions.
                            </p>
                            <p>
                                The Farm Action Toolkit dashboard provides visualization and browsing capability across
                                administrative units to gauge changes in farm area and yield. Additionally, this
                                dashboard displays soil moisture and biomass related datasets from SERVIR’s ClimateSERV
                                service. Temperature and precipitation datasets from TerraClimate are also incorporated
                                into this user interface to meet demand from implementing partners.

                            </p>
                            <p>The products and codes from this service can be openly accessed at this <a href="{% url "dashboard" %}">link.</a> </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Mission Statement</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-left text-dark">
                            <p>SERVIR’s Bhutan Farm Action Toolkit is dedicated to advancing crop yield monitoring in
                                Bhutan using NASA earth observations. Developed in response to locally-identified needs,
                                the project aims to support local partners in using geospatial modeling methods with
                                artificial intelligence (AI) and machine learning (ML) to produce consistent, timely and
                                reliable estimates of crop area and yield at field to national scale. The ultimate goal
                                of this work is to inform regional management decisions regarding food security and
                                climate resilient sustainable livelihood...
                            </p>
                            <p>
                                Farm Action is brought to you by SERVIR, a joint initiative of NASA, USAID, and leading
                                geospatial organizations in Asia, Africa, and Latin America, SERVIR partners with
                                countries and organizations to address critical challenges in climate change, food and
                                water security, water-related disasters, land use, and air quality.
                            </p>
                            <p>
                                For more information on the SERVIR program, visit
                                <a href="https://servirglobal.net" alt="SERVIR" title="SERVIR">https://servirglobal.net</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member listing -->
        <!-- Change the path in src of <img> tag in order to replace a team member's picture -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Team members</h6>
                    </div>
                    <div class="card-body text-center">
                                <span onclick="open_more_info(this)"
                                      class="p-3 d-inline-block text-decoration-none pointer"><img
                                        src="{% static 'images/teammembers/Aparna_Phalke-200_0.jpg' %}" alt="img1"
                                        class="team-member">
                                    <p>Aparna Phalke</p>
                                    <span style="display:none;" class="member_title">
                                    SERVIR Theme Lead - Agriculture & Food Security
                                    </span>
                                    <span style="display:none;" class="more_info">
                                        Dr. Aparna R. Phalke is currently a lead for the Agriculture and Food Security
                                        thematic area of SERVIR global (Science Coordination Office) a joint program
                                        of NASA and USAID based at NASA Marshall Space Flight Center (MSFC)  in
                                        Huntsville, Alabama. She is also affiliated as a research scientist with
                                        Earth System Science Center (ESSC) at The University of Alabama in Huntsville
                                        (UAH). Her research interests include developing innovative and applicable tools
                                        and algorithms through satellite data and advanced technologies such as large
                                        data AI models for agricultural areas and production monitoring. She has
                                        published her work on impact of policies on agricultural land use change
                                        and agricultural monitoring using satellite data. Her work at SERVIR supports
                                        the smallholder farmers across developing countries in their decision-making.
                                        Her research work has included geographic coverage of globe covering countries
                                        such as Thailand, Myanmar, India, Kenya, continental Europe, Middle East,
                                        Russia, Central Asia. She has pursued her PhD from University of Wisconsin
                                        and graduate education from Asian Institute of Technology, Thailand and
                                        Marathwada Agricultural University, India. Her passion lies from her childhood
                                        roots in a small village vulnerable farming community in India. Through SERVIR,
                                        she is converting her passion to action while connecting space to villages for
                                        agriculture and food security challenges with the larger team of scientists.
                                    </span>
                                </span>
                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/Sarah_Cox-200x.jpg' %}" alt="img1"
                                class="team-member">
                                            <p>Sarah Cox</p>
                                            <span style="display:none;" class="member_title">
                                            SERVIR Fellow - Bhutan
                                            </span>
                                            <span style="display:none;" class="more_info">
                                                Sarah Cox is a Research Associate with The University of Alabama in
                                                Huntsville Lab for Applied Science and SERVIR Global, a joint NASA-USAID
                                                funded applied science program based out of the Marshall Space Flight
                                                Center. Sarah has a Bachelor of Science degree in Environmental Science
                                                from the University of Virginia. She also earned her Master’s degree
                                                in Environmental Science and Policy from four different European
                                                universities as an Erasmus Mundus Scholar. For her Master’s thesis,
                                                Sarah worked alongside Elephants Alive! and Transfrontier Africa to
                                                analyze drivers of elephant-train collision in South Africa. She’s
                                                also worked with farming communities around the world to record
                                                stakeholder perspectives on environmental issues. Sarah’s passion
                                                for promoting a more peaceful coexistence between people and wildlife
                                                drives her research interest in wildlife management and equitable
                                                conservation. Sarah's current work with SERVIR will advance crop yield
                                                monitoring in Bhutan, with the ultimate aim of deriving timely,
                                                accurate forecasts of agricultural productivity to inform regional
                                                management decisions regarding food security and land use.
                                            </span>
                                        </span>

                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/Billy-Ashmall-200x.jpg' %}" alt="img1"
                                class="team-member">
                                                    <p>Billy Ashmall</p>
                                                    <span style="display:none;" class="member_title">
                                                        SERVIR Software Engineering Lead
                                                    </span>
                                                    <span style="display:none;" class="more_info">
                                                        Billy is a distinguished senior software engineer renowned for
                                                        his expertise in Geographic Information Systems (GIS) and
                                                        crafting bespoke mapping solutions. As the esteemed leader of
                                                        the GIT software engineering team at SERVIR, he spearheads
                                                        the development of innovative software solutions, ensuring
                                                        seamless access to regional data through cutting-edge online
                                                        mapping interfaces. Beyond his exceptional professional
                                                        pursuits, Billy finds solace and inspiration in the great
                                                        outdoors, relishing moments of tranquility while hiking,
                                                        strolling, and swimming alongside his beloved wife, Amy,
                                                        and their cherished companions, Fred and Maps.
                                                    </span>
                                        </span>

                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/Alex-Goberna-200x.jpg' %}" alt="img1"
                                class="team-member">
                                                    <p>Alex Goberna </p>
                                                    <span style="display:none;" class="member_title">
                                                    SERVIR Software Engineer
                                                    </span>
                                                    <span style="display:none;" class="more_info">
                                                        Alexandre's journey from Spain to his current role as a
                                                        Software Engineer is a testament to his unwavering dedication
                                                        to STEM from a young age. His ardor for technology blossomed
                                                        during his formative years, evident through his active
                                                        involvement in Web Development, Computer Science, and even
                                                        FIRST Robotics during high school. Fuelled by this passion,
                                                        Alexandre pursued higher education at Carnegie Mellon
                                                        University, where he honed his skills, earning a BS in
                                                        Computer Science with a minor in Robotics. Now a valued member
                                                        of the GIT team, he leverages his expertise to make significant
                                                        contributions in development. Beyond the realm of coding, you'll
                                                        often find Alexandre amidst the camaraderie of the soccer
                                                        fields or traversing through the serene beauty of the woods,
                                                        embracing the joys of outdoor exploration.
                                                    </span>
                                        </span>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Disclaimer -->
    <!-- Update the text inside <strong> in order to update the disclaimer text -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow ml-4 mr-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disclaimer</h6>
                </div>
                <div class="card-body">
                    <div class="text-left text-dark">
                        SERVIR's standard disclaimer is
                        <hr>
                        <strong>SERVIR Program, NASA, USAID and SERVIR partner organizations
                            make no express or implied warranty of this application as to the
                            merchantability or fitness for any particular purpose.
                            Neither the US Government nor its contractors shall be liable for
                            special, consequential or incidental damages attributed to this application.</strong>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logos -->
    <!-- Update the path inside src of <img> tag in order to update the logo images -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow m-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Logos</h6>
                </div>
                <div class="card-body text-center">
                    <a href="https://usaid.gov" class="p-3"><img class="org-logo" src="{% static 'images/logos/USAID.jpg' %}"></a>
                    <a href="https://nasa.gov" class="p-3"><img class="org-logo" src="{% static 'images/logos/NASA.jpg' %}"></a>
                    <a href="https://servirglobal.net" class="p-3"><img class="org-logo" src="{% static 'images/logos/servir_color.fw.png' %}"></a>
                    <a href="https://www.nsb.gov.bt/" class="p-3"><img class="org-logo" src="{% static 'images/logos/nsb.png' %}"></a>
                    <a href="https://www.facebook.com/bhutanmoaf" class="p-3"><img class="org-logo" src="{% static 'images/logos/moaf.png' %}"></a>
                    <a href="https://innotech.dhi.bt/" class="p-3"><img class="org-logo" src="{% static 'images/logos/dhi.png' %}"></a>
                </div>
            </div>
        </div>
    </div>

    <br>
    </div>

    <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamMemberModalLabel">Team Member Name</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add team member information here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
