{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}SERVIR AppTemplate - About{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
        <div style="position: relative; height: 600px;background-image: url(/static/images/paddy_hero.png);background-size: cover;background-position: center;">
            <!-- Hero image in the home page -->
            <div>
                
                <div class="card-img-overlay ">
                    <div class="text-center text-white vertical_center">
                        <!-- Title on the hero image-->
                        <p id="title_class">
                            About The Farm Action Toolkit </p>
                    </div>
                </div>
            </div>
        </div>
    <br>
    
    
    <main class="container">
    <h2>About the Farm Action Toolkit</h2>
    <p>SERVIR's Farm Action Toolkit was co-developed alongside several implementing partners in Bhutan to support their mission to secure adequate food for the Kingdom and save operational costs while doing it. This service provides 30-meter scale cropland, paddy, and maize area extent maps covering mountainous and marginal farmlands across Bhutan for all years from 2002 to 2023.</p>

    <h3>Core Functionalities</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static '/images/crop_mapping.png' %}" class="img-fluid mb-3" alt="Cropland Area Map">
        <h4>Area Crop Mapping</h4>
        <p>Provides detailed maps of cropland, paddy, and maize area in Bhutan.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/paddy_yield.png' %}" class="img-fluid mb-3" alt="Paddy Yield Graph">
        <h4>Paddy Yield Estimation</h4>
        <p>Estimates annual paddy yield at various scales for informed decision-making.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/paddy_change.png' %}" class="img-fluid mb-3" alt="Historical Data Collage">
        <h4>Historical Data Analysis</h4>
        <p>Enables analysis of changes in paddy fields and yield over past years.</p>
      </div>
    </div>

    <h3>Benefits & Impact</h3>
    <p>The Farm Action Toolkit offers valuable benefits for Bhutan's food security efforts, including:</p>
    <ul>
      <li>Understanding changes in paddy area and yield over time.</li>
      <li>Analyzing the impact of policy changes on food security.</li>
      <li>Guiding decision-makers towards sustainable agricultural practices.</li>
    </ul>

    <h3>Target Users</h3>
    <p>This toolkit is designed to empower various stakeholders, including:</p>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static '/images/gov_official.png' %}" class="img-fluid mb-3" alt="Government Officials at Dashboard">
        <h4>Government Organizations</h4>
        <p>Utilize the toolkit for informed policy decisions and resource allocation.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/student.png' %}" class="img-fluid mb-3" alt="Researchers Analyzing Data">
        <h4>Researchers & Academics</h4>
        <p>Gain insights into Bhutan's agricultural trends for further research.</p>
      </div>
      <div class="col-md-4">
        <img src="{% static '/images/farmer_cell.png' %}" class="img-fluid mb-3" alt="Farmers using Mobile App">
        <h4>Farmers</h4>
        <p>Access relevant data to optimize crop management practices.</p>
      </div>
    </div>
        
        <h3>Team Members</h3>
        <div class="card-body text-center">
                                <span onclick="open_more_info(this)"
                                      class="p-3 d-inline-block text-decoration-none pointer"><img
                                        src="{% static 'images/teammembers/Aparna_Phalke-200_0.jpg' %}" alt="img1"
                                        class="team-member">
                                    <p>Aparna Phalke</p>
                                    <span style="display:none;" class="member_title">
                                    SERVIR Theme Lead - Agriculture & Food Security
                                    </span>
                                    <span style="display:none;" class="more_info">
                                        Dr. Aparna R. Phalke is currently a lead for the Agriculture and Food Security 
                                        thematic area of SERVIR global (Science Coordination Office) a joint program 
                                        of NASA and USAID based at NASA Marshall Space Flight Center (MSFC)  in 
                                        Huntsville, Alabama. She is also affiliated as a research scientist with  
                                        Earth System Science Center (ESSC) at The University of Alabama in Huntsville 
                                        (UAH). Her research interests include developing innovative and applicable tools
                                        and algorithms through satellite data and advanced technologies such as large 
                                        data AI models for agricultural areas and production monitoring. She has 
                                        published her work on impact of policies on agricultural land use change 
                                        and agricultural monitoring using satellite data. Her work at SERVIR supports 
                                        the smallholder farmers across developing countries in their decision-making. 
                                        Her research work has included geographic coverage of globe covering countries
                                        such as Thailand, Myanmar, India, Kenya, continental Europe, Middle East, 
                                        Russia, Central Asia. She has pursued her PhD from University of Wisconsin 
                                        and graduate education from Asian Institute of Technology, Thailand and 
                                        Marathwada Agricultural University, India. Her passion lies from her childhood
                                        roots in a small village vulnerable farming community in India. Through SERVIR, 
                                        she is converting her passion to action while connecting space to villages for 
                                        agriculture and food security challenges with the larger team of scientists.
                                    </span>
                                </span>
            <span onclick="open_more_info(this)"
                  class="p-3 d-inline-block text-decoration-none pointer"><img
                    src="{% static 'images/teammembers/Sarah_Cox-200x.jpg' %}" alt="img1"
                    class="team-member">
                                            <p>Sarah Cox</p>
                                            <span style="display:none;" class="member_title">
                                            SERVIR Fellow - Bhutan
                                            </span>
                                            <span style="display:none;" class="more_info">
                                                Sarah Cox is a Research Associate with The University of Alabama in 
                                                Huntsville Lab for Applied Science and SERVIR Global, a joint NASA-USAID
                                                funded applied science program based out of the Marshall Space Flight 
                                                Center. Sarah has a Bachelor of Science degree in Environmental Science 
                                                from the University of Virginia. She also earned her Master’s degree 
                                                in Environmental Science and Policy from four different European 
                                                universities as an Erasmus Mundus Scholar. For her Master’s thesis, 
                                                Sarah worked alongside Elephants Alive! and Transfrontier Africa to 
                                                analyze drivers of elephant-train collision in South Africa. She’s 
                                                also worked with farming communities around the world to record 
                                                stakeholder perspectives on environmental issues. Sarah’s passion 
                                                for promoting a more peaceful coexistence between people and wildlife
                                                drives her research interest in wildlife management and equitable 
                                                conservation. Sarah's current work with SERVIR will advance crop yield 
                                                monitoring in Bhutan, with the ultimate aim of deriving timely, 
                                                accurate forecasts of agricultural productivity to inform regional 
                                                management decisions regarding food security and land use.
                                            </span>
                                        </span>

            <span onclick="open_more_info(this)"
                  class="p-3 d-inline-block text-decoration-none pointer"><img
                    src="{% static 'images/teammembers/Billy-Ashmall-200x.jpg' %}" alt="img1"
                    class="team-member">
                                                    <p>Billy Ashmall</p>
                                                    <span style="display:none;" class="member_title">
                                                        SERVIR Software Engineering Lead
                                                    </span>
                                                    <span style="display:none;" class="more_info">
                                                        Billy is a distinguished senior software engineer renowned for 
                                                        his expertise in Geographic Information Systems (GIS) and 
                                                        crafting bespoke mapping solutions. As the esteemed leader of 
                                                        the GIT software engineering team at SERVIR, he spearheads 
                                                        the development of innovative software solutions, ensuring 
                                                        seamless access to regional data through cutting-edge online 
                                                        mapping interfaces. Beyond his exceptional professional 
                                                        pursuits, Billy finds solace and inspiration in the great 
                                                        outdoors, relishing moments of tranquility while hiking, 
                                                        strolling, and swimming alongside his beloved wife, Amy, 
                                                        and their cherished companions, Fred and Maps.
                                                    </span>
                                        </span>

            <span onclick="open_more_info(this)"
                  class="p-3 d-inline-block text-decoration-none pointer"><img
                    src="{% static 'images/teammembers/Alex-Goberna-200x.jpg' %}" alt="img1"
                    class="team-member">
                                                    <p>Alex Goberna </p>
                                                    <span style="display:none;" class="member_title">
                                                    SERVIR Software Engineer
                                                    </span>
                                                    <span style="display:none;" class="more_info">
                                                        Alexandre's journey from Spain to his current role as a 
                                                        Software Engineer is a testament to his unwavering dedication 
                                                        to STEM from a young age. His ardor for technology blossomed 
                                                        during his formative years, evident through his active 
                                                        involvement in Web Development, Computer Science, and even 
                                                        FIRST Robotics during high school. Fuelled by this passion, 
                                                        Alexandre pursued higher education at Carnegie Mellon 
                                                        University, where he honed his skills, earning a BS in 
                                                        Computer Science with a minor in Robotics. Now a valued member
                                                        of the GIT team, he leverages his expertise to make significant
                                                        contributions in development. Beyond the realm of coding, you'll
                                                        often find Alexandre amidst the camaraderie of the soccer 
                                                        fields or traversing through the serene beauty of the woods, 
                                                        embracing the joys of outdoor exploration.
                                                    </span>
                                        </span>


        </div>
        <h3>Mission Statement</h3>
        <div class="card-body">
                        <div class="text-left text-dark">
                            <p>SERVIR’s Bhutan Farm Action Toolkit is dedicated to advancing crop yield monitoring in
                                Bhutan using NASA earth observations. Developed in response to locally-identified needs,
                                the project aims to support local partners in using geospatial modeling methods with
                                artificial intelligence (AI) and machine learning (ML) to produce consistent, timely and
                                reliable estimates of crop area and yield at field to national scale. The ultimate goal
                                of this work is to inform regional management decisions regarding food security and
                                climate resilient sustainable livelihood...
                            </p>
                            <p>
                                Farm Action is brought to you by SERVIR, a joint initiative of NASA, USAID, and leading
                                geospatial organizations in Asia, Africa, and Latin America, SERVIR partners with
                                countries and organizations to address critical challenges in climate change, food and
                                water security, water-related disasters, land use, and air quality.
                            </p>
                            <p>
                                For more information on the SERVIR program, visit
                                <a href="https://servirglobal.net" alt="SERVIR" title="SERVIR">https://servirglobal.net</a>
                            </p>
                        </div>
                    </div>
        <h3>Disclaimer</h3>
        <div class="card-body">
                    <div class="text-left text-dark">
                        SERVIR's standard disclaimer is
                        <hr>
                        <strong>SERVIR Program, NASA, USAID and SERVIR partner organizations
                            make no express or implied warranty of this application as to the
                            merchantability or fitness for any particular purpose.
                            Neither the US Government nor its contractors shall be liable for
                            special, consequential or incidental damages attributed to this application.</strong>
                        <hr>

                    </div>
                </div>
        
        <h3>Logos</h3>
        
         <div class="card-body text-center">
                    <a href="https://usaid.gov" class="p-3"><img class="org-logo" src="{% static 'images/logos/USAID.jpg' %}"></a>
                    <a href="https://nasa.gov" class="p-3"><img class="org-logo" src="{% static 'images/logos/NASA.jpg' %}"></a>
                    <a href="https://servirglobal.net" class="p-3"><img class="org-logo" src="{% static 'images/logos/servir_color.fw.png' %}"></a>
                    <a href="https://www.nsb.gov.bt/" class="p-3"><img class="org-logo" src="{% static 'images/logos/nsb.png' %}"></a>
                    <a href="https://www.facebook.com/bhutanmoaf" class="p-3"><img class="org-logo" src="{% static 'images/logos/moaf.png' %}"></a>
                    <a href="https://innotech.dhi.bt/" class="p-3"><img class="org-logo" src="{% static 'images/logos/dhi.png' %}"></a>
                </div>


    
  </main>

    

    <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamMemberModalLabel">Team Member Name</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add team member information here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
