{% extends "WebApp/app_base.html" %}

{% load static %}

{% block title %}Farm Action Toolkit - Map{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
          integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static '/css/yearpicker.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <link rel="stylesheet"
          href="{% static '/css/leaflet-sidebar.css' %}"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <link
            rel="stylesheet"
            href="{% static '/css/geosearch.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/common.css' %}?v={{ version }}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v={{ version }}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
    <script src="{% static '/js/yearpicker.js' %}" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"
            integrity="sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA=="
            crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4/dist/esri-leaflet-vector.js"></script>
    <script src="{% static 'js/leaflet-side-by-side.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.5/leaflet-search.src.js"
            integrity="sha512-PDM7dpetuBcPp2fV/ZyCj9BGV8ybPchsrSzQqVZ3WoM8YcxEa2lAj0n1+4MCRzgsEROmVTwQXGw0IrXCCgH+/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}"></script>
    <script src="{% static '/js/leaflet-providers.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/basemaps.js' %}"></script>
    <script src="{% static 'js/base-layers.js' %}"></script>
    <script src="{% static '/js/geosearch.umd.js' %}"></script>

    <script>
        const static_url = "{% static '' %}";
        let active_basemap = "Gsatellite";
        let overlayMaps = {};
        let piechart;
        let client_layers = [];
        let compare_left_dom;
        let compare_left_pass;
        let compare_right_dom;
        let compare_right_pass;
        let the_picker;
        let dzongkhagLayer;
        let gewog_features;
        let full_data = JSON.parse('{{ full_data|safe }}');
        let boundary = {{ boundary|safe }};
        let dzongkhagData = {{ dzongkhags|safe }}; // Assuming dzongkhags is a list of Dzongkhag data

        {% for layer in data_layers %}
            client_layers.push({
                title: "{{ layer.title }}",
                url: "{{ layer.url }}",
                attribution: "{{ layer.attribution }}",
                layers: "{{ layer.layers }}",
                styles: "{{ layer.default_style }}",
                colorrange: "{{ layer.default_color_range }}",
                overrange: "{{ layer.overrange }}",
                belowrange: "{{ layer.belowrange }}",
                id: "{{ layer.ui_id }}",
                default_year: "{{ layer.default_year }}",
                default_on: "{{ layer.default_on }}"
            })
        {% endfor %}


    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>


{% endblock %}

{% block content %}

    <div class="container-fluid p-0  bg-white">
        <div class="row row-sm sidebar-scroller">
            <div class="col-xl-9 mg-t-20 sidebar-scroller" style="padding-left: 0; z-index: 1006;">
                <div class="col-12 d-flex justify-content-center"
                     style="background-color: #909d6b94; position: absolute; z-index: 1000; width: 99%;">
                    <div class="row row-sm justify-content-center align-items-center"
                         style="z-index: 100; position: relative;">
                        <div class="dropdown col">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    id="selectedCountry">
                                <span class="caret"></span></button>
                            <ul id="countryList" class="dropdown-menu" aria-labelledby="selectedCountry"></ul>
                        </div>
                        <div class="dropdown col">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    id="selectDzongkhag">All Dzongkhags
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" id="dzongkhagOptions">

                            </ul>
                        </div>
                        <div class="dropdown col" id="gewoglist" style="display: none;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    id="selectGewog">All Gewogs
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" id="gewogOptions">

                                <!-- Options will be dynamically populated here -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="sidebar" class="sidebar collapsed">
                    <!-- Nav tabs -->
                    <div class="sidebar-tabs">
                        <ul role="tablist">

                            <li>
                                <a href="#layers" role="tab" id="tab-layers" title="Layers">
                                    <i class="fas fa-layer-group"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#basemap" role="tab" id="basemap_link" title="Basemaps"><i
                                        class="fas fa-map"></i></a>
                            </li>
                            <li>
                                <a href="#layer_compare" role="tab" title="Layer Compare"
                                   style="background-image: url({% static 'images/compare.png' %});
                                           background-size: cover;
                                           padding: 12px;">
                                    <i class=""></i>
                                </a>
                            </li>
                        </ul>
                        <ul role="tablist">
                        </ul>
                    </div>

                    <!-- Tab panes -->
                    <div id="sidebar-content" class="sidebar-content">
                        <div class="sidebar-pane" id="layer_compare">
                            <div id="chart-builder">
                                <h1 class="sidebar-header">
                                    Compare Layers
                                    <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                                </h1>
                                <!-- Step 1: Introduction and Instructions -->
                                <div id="compare_tool" style="display: none; padding:5px;">
                                    <h2 class="step-marker">Introduction</h2>
                                    <p>Welcome to the Layer Comparison Tool. This tool empowers you to explore and
                                        compare various layers of data on a map, facilitating insightful analysis of
                                        changes over time or across different variables.</p>

                                    <p>
                                        If you already have layers enabled on the map, the comparison tool will
                                        seamlessly overlay the selected layers for comparative analysis. However, to
                                        avoid confusion, we recommend disabling any similar layers that you intend to
                                        compare with the layers loaded through the comparison tool. This ensures clarity
                                        in distinguishing between layers managed through the layer manager and those
                                        displayed via the comparison tool.
                                    </p>

                                    <p>Here's how it works:</p>
                                    <ol style="padding-left: 1rem;">
                                        <li>Choose Layers and Dates:
                                            <ul>
                                                <li>On the left side of the map, select a layer and year as a base
                                                    comparison.
                                                </li>
                                                <li>On the right side of the map, select the compare layer and date.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Comparison Display:
                                            <ul>
                                                <li>The map will display the base comparison layer on each side, with
                                                    the compare layer loaded on the right side above to highlight
                                                    the differences.
                                                </li>
                                                <li>If the layers are the same data type the left side base comparison
                                                    will retain the original layer color scheme however,
                                                    right side compare contrasting color scheme.
                                                </li>
                                                <li>You will notice the associated legend change accordingly</li>
                                                <li>This visualization helps you to identify changes, trends, or
                                                    disparities between the selected layers.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>Interact and Analyze:
                                            <ul>
                                                <li>Use the comparison slider to adjust the visibility of each layer and
                                                    analyze the differences more effectively.
                                                </li>
                                                <li>Explore the map, zoom in/out, and interact with the layers to gain
                                                    insights into the data.
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                    <p>Ready to start comparing layers? Click on the "Next" button to begin the layer
                                        selection process.</p>
                                    <p style="text-align: right;">
                                        <button onclick="toggle_instructions()" class="wizard-button">Next</button>
                                    </p>
                                </div>

                                <!-- Step 2: Layer Selection -->
                                <div id="compare_instructions" style=" padding:5px;">
                                    <h2 class="step-marker">Choose Layers to Compare</h2>

                                    <div id="layer-selection">
                                        <p>
                                            If you have layers already on the map that you intend to compare,
                                            we recommend disabling them from the layer panel prior to adding them to
                                            this tool to avoid having duplicate and possibly misleading layers visible.
                                            You can remove them from the map with the Remove button below.
                                        </p>
                                        <ul style="padding-left: 1rem;">
                                            <li class="no-list-type">
                                                <button onclick="removeAllLayers()" class="wizard-button">Remove
                                                    Non-Tool Layers
                                                </button>
                                                <p></p>
                                            </li>
                                        </ul>

                                        <div class="compare-container">
                                            <div class="compare-text">Compare</div>
                                            <div class="box" style="border-right: 1px solid #0D3309">
                                            <label id="left_compare_layer_label" for="left_compare_layer"></label>
                                                <select id="left_compare_layer"
                                                        onchange="updateChangeLegend(this.value, 'left')">
                                                    {% for layer in data_layers %}
                                                        {% if layer.hasVisualization and layer.compare_enabled %}
                                                            <option value="{{ layer.ui_id }}"
                                                                    data="{{ layer.url }}">{{ layer.title }}</option>

                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <div class="buffer "
                                                     style="position: relative;">
                                                    <label id="left_compare_date_label" for="left_compare_date"></label>
                                                    <input type="text"
                                                           class="yearpicker ignore-elements"
                                                           size="4"
                                                           id="left_compare_date"
                                                           onclick="openPicker(this)"
                                                           onchange="select_compare(this)"
                                                           value="2022"
                                                    />
                                                </div>

                                                <div class="legend-container" id="left_legend_container">
                                                    <span class="legend-text">Legend</span>
                                                    <img src="{% static '/images/crop_land.png' %}"
                                                         id="left_legend_image" width="10" height="10"
                                                         alt="Legend"/>

                                                </div>

                                            </div>
                                            <div class="box-connector"></div>
                                            <div class="box" style="border-left: 1px solid #0D3309">
                                            <label id="right_compare_layer_label" for="right_compare_layer"></label>
                                                <select id="right_compare_layer"
                                                        onchange="updateChangeLegend(this.value, 'right')">
                                                    {% for layer in data_layers %}
                                                        {% if layer.hasVisualization and layer.compare_enabled %}
                                                            <option value="{{ layer.ui_id }}"
                                                                    data="{{ layer.url }}">{{ layer.title }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <div class="buffer "
                                                     style="position: relative;">
                                                    <label id="right_compare_date_label" for="right_compare_date"></label>
                                                    <input type="text"
                                                           class="yearpicker ignore-elements"
                                                           size="4"
                                                           id="right_compare_date"
                                                           onclick="openPicker(this)"
                                                           onchange="select_compare(this);"

                                                           value="2023"
                                                    />
                                                </div>
                                                <div class="legend-container" id="right_legend_container">
                                                    <span class="legend-text">Legend</span>
                                                    <img src="{% static '/images/crop_land_compare.png' %}"
                                                         id="right_legend_image" width="10" height="10"
                                                         alt="Legend"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p style="text-align: right;"></p>
                                
                                    <ul style="padding-left: 1rem;">
                                        <li class="no-list-type">
                                            <button onclick="performComparison()" class="wizard-button">Compare</button>
                                            <p>Click this button to activate or update the layer comparison tool with
                                                the selected
                                                parameters.</p>
                                        </li>
                                        <li class="no-list-type">
                                            <button onclick="remove_comparison()" class="wizard-button">Exit Tool
                                            </button>
                                            <p>Click this button to remove the layer comparison tool from the UI. The
                                                comparison tool will remain displayed until this button is clicked, even
                                                if you navigate to a different panel tab.</p>
                                        </li>
                                        <li class="no-list-type">
                                            <button onclick="toggle_instructions()" class="wizard-button">More Info</button>
                                            <p>Click this button to get more info about the compare tool.</p>
                                        </li>
                                    </ul>
                                    
                                </div>

                                <!-- Step 4: Confirmation and Visualization -->

                            </div>
                        </div>

                        <div class="sidebar-pane" id="layers">
                            <h1 class="sidebar-header">
                                Layers
                                <span class="sidebar-close">
                              <i class="fas fa-caret-left"></i>
                            </span>
                            </h1>
                            <input
                                    type="search"
                                    placeholder="filter layers.."
                                    name="search"
                                    class="form-control searchbox-input"
                                    title="filter layers.."
                                    onsearch="layer_filter()"
                                    onkeyup="layer_filter()"
                                    id="layer_filter"/>
                            <ol class="layers vertical" id="layer-list">
                                {% for layer in data_layers %}
                                    {% if layer.hasVisualization %}
                                        <li id="{{ layer.ui_id }}_node"
                                            style="display: {% if layer.hasVisualization %} block {% else %} none {% endif %}">
                                            <div class="rst__nodeContent" style="left: 44px">
                                                <div style="height: 100%">
                                                    <div class="rst__rowWrapper">
                                                        <div class="rst__row" style="opacity: 1">
                                                            <div class="rst__moveHandle"></div>
                                                            <div class="rst__rowContents ignore-elements ">
                                                                <div class="rst__rowLabel ">
                                                                    <span
                                                                            class="rst__rowTitle "
                                                                            title="{{ layer.title }}"
                                                                            data-toggle="tooltip"
                                                                    >
                                                                          <input type="checkbox"
                                                                                 id="{{ layer.ui_id }}"
                                                                                 name="{{ layer.ui_id }}"
                                                                                 onchange="toggleLayer('{{ layer.ui_id }}')" {% if layer.default_on %}
                                                                                 checked {% endif %}/>
                                                                          <label for="{{ layer.ui_id }}"
                                                                                 class="cblabel">{{ layer.title }}</label>
                                                                          <br/>
                                                                    </span>
                                                                    <div class="ignore-elements " style="position: relative;">
                                                                    <label id="{{ layer.ui_id }}_date_label" for="{{ layer.ui_id }}_date"></label>
                                                                        <input type="text"
                                                                           class="{% if layer.default_month %}monthlypicker {% else %}yearpicker {% endif %} ignore-elements  {% if not layer.default_on %}
                                                                           disabled {% endif %}"
                                                                           size="{% if layer.default_month %}6{% else %}4{% endif %}"
                                                                           id="{{ layer.ui_id }}_date"
                                                                           onclick="openPicker(this)"
                                                                           onchange="updateLayer(this);"
                                                                            {% if not layer.default_on %}
                                                                           disabled {% endif %}
                                                                           value="{% if layer.default_month %}{{ layer.default_month }}-{% endif %}{{ layer.default_year }}"
                                                                        />
                                                                        <i id="legend_{{ layer.ui_id }}TimeLayer "
                                                                           class="fas fa-list legend-btn"
                                                                           onclick="openLegend('{{ layer.ui_id }}TimeLayer')"
                                                                           style="float: right; margin: 0 15px 15px 15px; cursor: pointer;">
                                                                        </i>

                                                                    </div>
                                                                    <div class="slider-container opacity-control">
                                                                        <label id="slider_{{ layer.ui_id }}_label" for="slider_{{ layer.ui_id }}"></label>
                                                                        <input type="range" min="0" max="100"
                                                                            value="100"
                                                                            id="slider_{{ layer.ui_id }}"
                                                                            class="slider opacity-control"
                                                                            style="display:block; width:100%"
                                                                            oninput="set_layer_opacity('{{ layer.ui_id }}', this.value )">
                                                                    </div>

                                                                </div>
                                                                <div class="rst__rowToolbar">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="sidebar-pane" id="basemap">
                            <h1 class="sidebar-header" style="margin-bottom: 8px;">
                                Basemaps
                                <span class="sidebar-close">
                                  <i class="fas fa-caret-left"></i>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="map">

                </div>
            </div>

            <div class="col-sm-12  col-xl-3 mg-t-20 sidebar-scroller" style=" overflow-y: scroll">
                <div class="row">
                    <div class="col-sm-12  col-xl-12 mg-t-20" id="riceAreaHolder" style="z-index: 1005;">
                        <div id="rice_area" class="chart-holder">
                        </div>
                    </div>
                    <div class="col-sm-12  col-xl-12 mg-t-20 aspect-ratio-container" id="paddyHolder"
                         style="z-index: 1004;">
                        <div id="paddy_gain" class="chart-holder"></div>
                    </div>
                    <div class="col-sm-12  col-xl-12 mg-t-20 aspect-ratio-container" id="yieldHolder"
                         style="z-index: 1004;">
                        <div id="rice_yield" class="chart-holder"></div>
                    </div>
                    <div id="sparklineChart" class="chart-holder">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation">
                                <button data-bs-target="#ndvi-tab" aria-controls="ndvi-tab"
                                        role="tab" data-bs-toggle="tab" class="tab-button active">NDVI
                                </button>
                            </li>
                            <li role="presentation">
                                <button data-bs-target="#precipitation-tab" aria-controls="precipitation-tab"
                                        role="tab" data-bs-toggle="tab" class="tab-button">Precipitation
                                </button>
                            </li>
                            <li role="presentation">
                                <button data-bs-target="#soil-moisture-tab" aria-controls="soil-moisture-tab"
                                        role="tab" data-bs-toggle="tab" class="tab-button">Soil Moisture
                                </button>
                            </li>
                            <li role="presentation">
                                <button data-bs-target="#temperature-tab" aria-controls="temperature-tab"
                                        role="tab" data-bs-toggle="tab" class="tab-button">Temperature
                                </button>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="ndvi-tab">
                                <div class="sparkline-chart" id="ndvi-spark"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="precipitation-tab">
                                <div class="sparkline-chart" id="precipitation-spark"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="soil-moisture-tab">
                                <div class="sparkline-chart" id="soil-moisture-spark"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="temperature-tab">
                                <div class="sparkline-chart" id="temperature-spark"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-xl-12 mg-t-20 pie-slider order-sm-second"
                         style="z-index: 1002; border-bottom: solid 1px; border-left: solid 1px; border-right: solid 1px;">
                        <div class="form-group year-slider">
                            <h4>Select Year:</h4>
                            <div id="yearSlider"></div>
                        </div>
                        <div id="pie_chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dialog" style="display: none" class="ui-widget-content dialog-max-height">
            <p>
                This is the default dialog which is useful for displaying information.
                The dialog window can be moved, resized and closed with the
                &apos;x&apos; icon.
            </p>
        </div>
        <span id="isMobile"></span>
    </div>
    <script src="{% static '/js/leaflet-sidebar.js' %}"></script>

{% endblock %}
