{% extends "WebApp/app_base.html" %}

{% load static %}

{% block title %}Bhutan Crop Monitoring - Map{% endblock %}
{% block script %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"
            integrity="sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script src="{% static '/js/L.Control.Opacity.js' %}"></script>
    <link href="{% static '/css/L.Control.Opacity.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.5/leaflet-search.src.js"
            integrity="sha512-PDM7dpetuBcPp2fV/ZyCj9BGV8ybPchsrSzQqVZ3WoM8YcxEa2lAj0n1+4MCRzgsEROmVTwQXGw0IrXCCgH+/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static '/js/leaflet-providers.js' %}"></script>

    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'js/basemaps.js' %}"></script>
    <script src="{% static '/js/geosearch.umd.js' %}"></script>
    <link
            rel="stylesheet"
            href="{% static '/css/geosearch.css' %}"
    />


    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <style>
        .row {
            margin-left: 0;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        .aspect-ratio-container {
            position: relative;
            width: 100%;
        }

        .chart-holder {
            height: 100%;
        }

        #rice_area {
            height: 100%;
            width: 100%;
            overflow-y: auto;
            font-size: 0.7em;
        }

        #rice_area table {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <script>
        function buildPie() {
            Highcharts.chart('pie_chart', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Rice area distribution in acres by Dzongkhag'
                },
                tooltip: {
                    useHTML: true,
                    headerFormat: '<table>',
                    footerFormat: '</table>',
                    pointFormatter: function () {
                        var dataSum = 0,
                            percentage;

                        this.series.points.forEach(function (point) {
                            dataSum += point.y;
                        });

                        percentage = ((this.y / dataSum) * 100).toFixed(2);

                        return `<tr><th colspan="2"><b>${this.name}</b></th></tr>
             <tr><th>Value:</th><td>${this.y} acres</td></tr>
             <tr><th>Percent:</th><td>${percentage}%</td></tr>`
                    }
                },
                series: [
                    {
                        name: 'Percentage',
                        colorByPoint: true,
                        data: [
                            {
                                name: 'District 1',
                                y: 4100.123
                            },
                            {
                                name: 'District 2',
                                y: 3240.2
                            },
                            {
                                name: 'District 3',
                                y: 2345.12
                            },
                            {
                                name: 'District 4',
                                y: 1345.0
                            },
                            {
                                name: 'District 5',
                                y: 500.25
                            },
                            {
                                name: 'District 6',
                                y: 1.68
                            }
                        ]
                    }
                ]
            });
        }

        function buildChart(id, title, subtitle, type, pointStart, yAxisText, rangeDescription, seriesObject, color) {
            Highcharts.chart(id, {
                    chart: {
                        type: type
                    },
                    colors: [color],
                    title: {
                        text: title,
                        align: 'left'
                    },

                    subtitle: {
                        text: subtitle,
                        align: 'left'
                    },

                    yAxis: {
                        title: {
                            text: yAxisText
                        }
                    },

                    xAxis: {
                        accessibility: {
                            rangeDescription: rangeDescription
                        }
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: pointStart,
                            tooltip: {
                                pointFormatter: function () {
                                    return this.y + " " + yAxisText;

                                }
                            },
                        }
                    },

                    series: [seriesObject],

                    responsive: {
                        rules: [{
                            condition: {
                                width: '100%',
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                },
                function (event) {
                    this.series[0].hide();
                    this.series[0].show();
                }
            );

        }

        // Function to create the table
        function createTable(data) {
            const tableContainer = document.getElementById('rice_area');
            const table = document.createElement('table');
            const thead = document.createElement('thead');
            const tbody = document.createElement('tbody');

            // Create table header
            const headerRow = document.createElement('tr');
            const adminLevelHeader = document.createElement('th');
            adminLevelHeader.textContent = data.admin_level;
            headerRow.appendChild(adminLevelHeader);

            data.data[0].values.forEach(entry => {
                const yearHeader = document.createElement('th');
                yearHeader.textContent = entry.year;
                headerRow.appendChild(yearHeader);
            });
            thead.appendChild(headerRow);

            // Create table body
            data.data.forEach(item => {
                const row = document.createElement('tr');
                const adminLevelCell = document.createElement('td');
                adminLevelCell.textContent = item.name;
                row.appendChild(adminLevelCell);

                item.values.forEach(entry => {
                    const valueCell = document.createElement('td');
                    valueCell.textContent = entry.value;
                    row.appendChild(valueCell);
                });

                tbody.appendChild(row);
            });

            // Append header and body to table
            table.appendChild(thead);
            table.appendChild(tbody);

            const h4 = document.createElement('h4');

            h4.textContent = "Average rice area by " + data.admin_level;
            tableContainer.appendChild(h4);
            // Append table to container
            tableContainer.appendChild(table);
        }

        $(function () {
            // Initial call to set aspect ratio on page load
            updateAspectRatio();
            buildChart('annual_ndvi', 'Annual NDVI', 'Bumthang Dzongkhag 2016: 0.213', 'line', 2016, 'NDVI', 'Range: 2016 to 2022', {
                name: 'NDVI',
                data: [0.213, -1, 0.213, 0.256, -0.014, 0.018,
                    0.199]
            }, 'rgb(44, 175, 254)');
            buildChart('annual_precipitation', 'Annual Precipitation', 'Bumthang Dzongkhag 2016: 48.010 mm', 'line', 2016, 'mm', 'Range: 2016 to 2022', {
                name: 'Precipitation',
                data: [48.01, 52.5, 50.5, 52, 73, 58.164,
                    71]
            }, 'rgb(44, 175, 254)');
            buildChart('soil_moisture', 'Annual Soil Moisture', 'Bumthang Dzongkhag 2016: 922.956 mm', 'line', 2016, 'mm', 'Range: 2016 to 2022', {
                name: 'Soil Moisture',
                data: [922.956, 1044.206, 868.699, 1034.69, 1139.746, 1026.796,
                    1203.78]
            }, 'rgb(44, 175, 254)');
            buildChart('temperature', 'Annual Temperature', 'Bumthang Dzongkhag 2016: 10.96 &deg;c', 'line', 2016, '&deg;c', 'Range: 2016 to 2022', {
                name: 'Temperature',
                data: [10.96, 10.531, 9.802, 10.854, 10.057, 9.813,
                    10.945]
            }, 'rgb(44, 175, 254)');

            buildChart('paddy_gain', 'Paddy Gain', 'Bumthang Dzongkhag 2016: 10.96 acres', 'column', 2017, 'acres', 'Range: 2016 to 2022', {
                name: 'Paddy Gain',
                data: [10.96, 10.531, 9.802, 10.854, 10.057, 9.813,
                    10.945]
            }, 'rgb(90,254,44)');

            buildChart('paddy_loss', 'Paddy Loss', 'Bumthang Dzongkhag 2016: 10.96 acres', 'column', 2017, 'acres ', 'Range: 2016 to 2022', {
                name: 'Paddy Loss',
                data: [10.96, 10.531, 9.802, 10.854, 10.057, 9.813,
                    10.945]
            }, 'rgb(255,38,0)');

            buildPie();

            map = L.map('map', {
                zoomControl: true, fullscreenControl: true, center: [27.41016657183734, 90.44523404431789], zoom: 8
            });
            map.zoomControl.setPosition('topright');
            terrainLayer.addTo(map);

// Add the Search Control to the map
            const search = new GeoSearch.GeoSearchControl({
                provider: new GeoSearch.OpenStreetMapProvider(), showMarker: false, // optional: true|false  - default true
                showPopup: false, position: 'topright', autoClose: true,
            });
            map.addControl(search);
            $(".leaflet-bar-timecontrol").css("margin-left", "50px");
            $('.leaflet-bar-timecontrol').css('display', 'inline');
            window.dispatchEvent(new Event('resize'));

            // Sample JSON object
            const data = {
                "admin_level": "Dzongkhag",
                "data": [
                    {
                        "name": "District 1",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 100},
                            {"year": 2021, "value": 150},
                            {"year": 2022, "value": 200}
                        ]
                    },
                    {
                        "name": "District 2",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 120},
                            {"year": 2021, "value": 180},
                            {"year": 2022, "value": 220}
                        ]
                    },
                    {
                        "name": "District 3",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 100},
                            {"year": 2021, "value": 150},
                            {"year": 2022, "value": 200}
                        ]
                    },
                    {
                        "name": "District 4",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 120},
                            {"year": 2021, "value": 180},
                            {"year": 2022, "value": 220}
                        ]
                    }, {
                        "name": "District 5",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 100},
                            {"year": 2021, "value": 150},
                            {"year": 2022, "value": 200}
                        ]
                    },
                    {
                        "name": "District 6",
                        "values": [
                            {"year": 2016, "value": 100},
                            {"year": 2017, "value": 150},
                            {"year": 2018, "value": 100},
                            {"year": 2019, "value": 150},
                            {"year": 2020, "value": 120},
                            {"year": 2021, "value": 180},
                            {"year": 2022, "value": 220}
                        ]
                    }
                ]
            };

            // Call the function with your JSON data
            createTable(data);

        });

        window.addEventListener('resize', updateAspectRatio);

        function updateAspectRatio() {
            var aspectRatio = 9 / 16; // 9:16 aspect ratio
            var containers = document.querySelectorAll('.aspect-ratio-container');
            containers.forEach(function (container) {
                var containerWidth = container.offsetWidth;
                var containerHeight = containerWidth * aspectRatio;
                container.style.height = containerHeight + 'px';
            });
        }


    </script>

{% endblock %}

{% block content %}

    <div class="container-fluid p-0  bg-white">
        <div class="row row-sm">
            <div class="col-sm-6 col-xl-3 aspect-ratio-container">
                <div id="annual_ndvi" class="chart-holder"></div>
            </div>
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0 aspect-ratio-container">
                <div id="annual_precipitation" class="chart-holder"></div>
            </div>
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0 aspect-ratio-container">
                <div id="soil_moisture" class="chart-holder"></div>
            </div>
            <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0 aspect-ratio-container">
                <div id="temperature" class="chart-holder"></div>
            </div>

            <div class="col-xl-9 mg-t-20" style="padding-left: 0;">
                <div id="map"
                     style="min-height: 456px; height:100%; width:100%; display: flex; justify-content: center; align-items: center;">

                </div>
            </div>
            <div class="col-sm-12  col-xl-3 mg-t-20">
                <div class="row">
                    <div class="col-sm-6  col-xl-12 mg-t-20 aspect-ratio-container">
                        <div id="rice_area" class="chart-holder">
                        </div>

                    </div>
                    <div class="col-sm-6  col-xl-12 mg-t-20 aspect-ratio-container">
                        <div id="paddy_gain" class="chart-holder"></div>
                    </div>
                    <div class="col-sm-6  col-xl-12 mg-t-20 aspect-ratio-container">
                        <div id="paddy_loss" class="chart-holder"></div>
                    </div>
                    <div class="col-sm-6  col-xl-12 mg-t-20 aspect-ratio-container">
                        <div id="pie_chart" class="chart-holder"></div>
                    </div>
                </div>
            </div>


        </div>

    </div>


{% endblock %}
