{% extends "WebApp/app_base.html" %}
{% load static %}

{% block title %}Bhutan Crop Monitoring - Home{% endblock %}
{% block script %}
    <!-- Custom styles-->

    <!-- Custom scripts-->
{% endblock %}

<!-- Begin Page Content -->
{% block content %}
    <div class="align-items-center justify-content-between bg-white">
        <div style="position: relative;">
            <!-- Hero image in the home page -->
            <div>
                <img
                        class="img-fluid hero_style"
                        src="{% static '/images/hero.jpg' %}"
                        alt="Hero Image"
                >
                <div class="layer">
                </div>
                <div class="card-img-overlay ">
                    <div class="text-center text-white vertical_center">
                        <!-- Title on the hero image-->
                        <p id="title_class">
                            Bhutan Crop Monitoring </p>
                        <!-- Tagline under the title on the hero image-->
                        <p id="tagline_class">
                            Empowering Food Security Through Earth Observation</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search bar -->
        <!-- Search results are based on the title on the cards shown -->
        <div class="container-fluid">

            <!-- Application Template Cards -->
            <!-- Looping through the list of cards to generate the interface that contains all the cards. This list can be updated in views.py -->
            <div class="products-div">
                <div class="row">
                    <div class="text col-lg-8 mb-4" id="welcome_text">
                        <p>
                            Welcome to Bhutan Crop Monitoring, where Earth observation meets agricultural
                            sustainability!
                            Our
                            platform harnesses the power of cutting-edge technology to empower decision-makers and
                            farmers
                            alike
                            in tackling the pressing challenges of food security. Through the integration of Earth
                            observation
                            data and advanced geospatial analysis, we provide comprehensive insights into crop types,
                            distribution, and health across Bhutan's diverse terrain. Whether you're a policymaker
                            seeking
                            to
                            make informed decisions or a farmer striving to optimize crop management practices, Bhutan
                            Crop
                            Monitoring equips you with the tools and information you need to thrive in a rapidly
                            changing
                            world.
                        </p>
                    </div>
                    <div class="image col-lg-4 mb-4">
                        <img src="{% static '/images/farmer.jpg' %} " alt="Farming with technology" id="highlight_image"
                             class="mw-100">
                    </div>
                </div>
            </div>
            <div class="products-div">
                <h1>Products:</h1>
                <div class="row">
                    <div class="col-lg-4 mb-4=">
                        <h3 class="product-title">Annual Rice Crop</h3>
                        <img src="{% static '/images/rice_crop.png' %}" alt="Annual Rice Crop" class="product-image"/>
                    </div>
                    <div class="col-lg-4 mb-4=">
                        <h3 class="product-title">Regional NDVI</h3>
                        <img src="{% static '/images/ndvi_image.png' %}" alt="Regional Climate NDVI"
                             class="product-image"/>
                    </div>
                    <div class="col-lg-4 mb-4=">
                        <h3 class="product-title">Regional Climate Values</h3>
                        <img src="{% static '/images/climate_values.jpg' %}" alt="Regional Climate Values"
                             class="product-image"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End of Main Content -->

    <script src="{% static '/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}